body {
  text-align: center;
  background-color: #011F3F;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2rem;
  margin:  3%;
  color: #FEF2BF;
}

.level-plus-big {
  margin: 4px;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2rem;
  color: #16FF00;
}

.level-plus-little {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3rem;
  color: #16FF00;
  margin: 0;
  padding: 0;
}

#settings {
  position: absolute;
  left: 90%;
  top: 5rem;
}

#settings-content {
  background-color: #F1EAFF;
  max-width: 20%; 
  margin: auto; /* This makes the element align in center*/
  border-radius: 10px;
}


#settings-content button {
  margin: 1rem auto;
  display: block;
}

#settings-content p {
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#update-name {
  background-color: #FDB9FC;
	color: #E900FF;
  padding: 12px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
}

#update-name:hover{
  color: #fff;
  background-color: #E900FF;
}

#reset-score {
  background-color: #A076F9;
	color: #fff;
  padding: 12px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
}

#reset-score:hover {
  color: #A076F9;
  background-color: #fff;
}

input[type="checkbox"] {
  /* Increase size */
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

#delete-user-data {
  background-color: #FF9F9F;
  color: red;
  padding: 8px;
  font-size: 18px;
	border: none;
	border-radius: 10px;
}

#delete-user-data:hover {
  color: #fff;
  background-color: red;
}

#congratulate_winner {
  /* max-width: 50%; */
  position: absolute;
  right: 66%;
  top: 10rem;
  color:#F806CC;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#current_score_div {
  position: absolute;
  right: 80%;
  top: 24rem;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ED50F1;
}


#user_name {
  color: #9400FF;
  position: absolute;
  right: 80%;
  top: 18.5rem;
  font: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#high_score_div {
  position: absolute;
  right: 80%;
  top: 21rem;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#start-btn {
  position: absolute;
  right: 82%;
  top: 30rem;
  background-color: whitesmoke;
	color: #793FDF;
	padding: 12px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
}

#start-btn:hover {
	background-color: #793FDF;
	color: white;
	box-shadow: none;
}

#img-position {
  position: absolute;
  left: 75%;
  top: 10rem;
}

#img-value {
  width: 290px;
  margin-bottom: 1rem;
}

#refresh-img {
  background-color: #793FDF;
  color: #fff;
  padding: 8px;
	font-size: 16px;
  border-radius: 10px;
  border: none;
}

#refresh-img:hover{
  color: #793FDF;
  background-color: white;
}


.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.btn-disabled-style {
  opacity: 0.5; 
  pointer-events: none; /* Disable pointer events */
}

.auto-btn{
  box-shadow: 0 0 20px white;
  background-color: grey;
  border: 10px solid #E900FF;
}

footer {
  margin-top: 3.9rem;
  color: #E3F4F4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a {
  text-decoration: none;
  color: #0079FF;
}

footer a:hover{
  text-decoration: underline;
}

/*  ---------------------------------------------- */


@media (max-width: 576px){

  /* Remove the image right now */
  #img-position {
    display: none;
  }

  .container {
    width: 100%;
  }
  
  /* .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  } */


}