body {
  text-align: center;
  background-color: #011F3F;
}

#img-value {
  position: absolute;
  left: 75%;
  top: 10rem;
  width: 290px;
}

#congratulate_winner {
  /* max-width: 50%; */
  position: absolute;
  right: 66%;
  top: 10rem;
  color:#F806CC;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#user_name {
  color: #9400FF;
  position: absolute;
  right: 80%;
  top: 18.5rem;
  font: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#high_score_div {
  position: absolute;
  right: 80%;
  top: 21rem;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#current_score_div {
  position: absolute;
  right: 80%;
  top: 24rem;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ED50F1;
}

#start-btn {
  position: absolute;
  right: 82%;
  top: 30rem;
  background-color: whitesmoke;
	color: #793FDF;
	padding: 12px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
}

#start-btn:hover {
	background-color: #793FDF;
	color: white;
	box-shadow: none;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2rem;
  margin:  3%;
  color: #FEF2BF;
}

.level-plus-big {
  margin: 4px;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2rem;
  color: #16FF00;
}

.level-plus-little {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3rem;
  color: #16FF00;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.btn-disabled-style {
  opacity: 0.5; 
  pointer-events: none; /* Disable pointer events */
}

.auto-btn{
  box-shadow: 0 0 20px white;
  background-color: grey;
  border: 10px solid #E900FF;
}